@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import "tailwindcss";
@import "tailwindcss/preflight.css" layer(base);


@layer base {
  html {
    font-family: "Inter", sans-serif;
  }
}

@theme {
  /* create theme colors  */
  --color-turquoise-400: #44D8EA;
  --color-turquoise-300: #BEF1F8;
  --color-turquoise-200: #D3E9F0;
  --color-turquoise-100: #E9EFF3;
  --color-mutedBlue-300: #114A6D;
  --color-mutedBlue-200: #195F82;
  --color-mutedBlue-100: #5989A4;
  --color-mutedBlueGray: #6C7993;
  --color-grayLight: #DCDCDC;
  --color-softWhite: #FCFCFD;

  /* create theme animation */
  --animate-float:float 4.5s ease-in-out infinite;
  @keyframes float {
    0%, 100% {
      transform: translateY(-10%);
    }
    50% {
      transform: translateY(10%);
    }
  }

}
